/*

IMPORTED GLOBALY webpack.base.conf.js

plugins: [
  new webpack.LoaderOptionsPlugin({
	options: {
	  stylus: {
		import: [path.resolve(__dirname, '../src/assets/stylus/global.styl')]
	  }
	}
  })
]

*/

$dark = #222222
$light = #FFFFFF

body
	margin 0
	padding 0
	border 0
	
#app
	font-family 'Avenir', Helvetica, Arial, sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-align center
	color $dark

/*

	ANIMATIONS

*/

.fade-enter-active, .fade-leave-active
	transition opacity 0.3s

.fade-enter, .fade-leave-active
	opacity 0